h1 {
    color: #007bff;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align:center;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Kawaii_earth_clipart.svg/1024px-Kawaii_earth_clipart.svg.png');
    background-position:center;
    background-size: 200px;
    background-repeat: no-repeat;
    padding-bottom: 130px;
}

nav{
    padding-top: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding:20px;
}

html, body {
    padding: 30px 40px;
}

body {
    padding-top: 80px;
}

@media screen and (max-width: 960px)
{
    .container {
        justify-content: center;
        flex: 1 0 auto;
        margin-right: 0px;
    }
    h1 {
        text-align:center;
    }
    form {
        padding:0px
    }
}
@media screen and (max-width: 1000px)
{
    .container{
        justify-content: center;
        margin-right: 0px;
    }
    h1 {
        text-align:center;
    }
    form {
        padding:0px
    }
}
