.wrapper {
    padding: 10px;
}

.header {
    padding: 10px;
}

h1 {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

img {
   padding-left: 10px;
}

.flex-column {
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    padding-left: 20px;
}

.row p {
    margin-left: 150px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 500px)
{
    .container {
        justify-content: center;
        flex: 1 0 auto;
        margin-right: 0px;
    }
    h1 {
        text-align:center;
    }
    .tab-content{
        padding-left:30px;
    }
}

@media screen and (max-width: 1000px)
{
    .container{
        justify-content: center;
        margin-right: 0px;
    }
    h1 {
        text-align:center;
    }
}