h1{
    color: blue;
    font-size: 30px;
}

.balls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


form, nav{
    padding: 4px 40px;
}

.myguys_toes {
    position: absolute;
    bottom: 0;
    padding: 4px 100px;
    margin: 0 auto;
}

html, body {
    padding: 50px 40px;
}
