.wrapper {
    padding: 10px;
}

body {
    background-color: #AEB4A9 !important;
}

.header {
    padding: 20px;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: black;
}

h1 {
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.card {
    padding: 10px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.card {
    max-width: inherit;
    background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5px,
    #007bff 10px,
    #AEB4A9 20px
    ),
    linear-gradient(
    to bottom,
    #eee,
    #007bff
    );
    padding: 3px;
}

.card-body {
    background: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding:40px;
}

@media screen and (max-width: 500px)
{
    .container {
        justify-content: center;
        flex: 1 0 auto;
        margin-right: 0px;
    }
    h1 {
        text-align:center;
    }
}
@media screen and (max-width: 1280px)
{
    .container{
        justify-content: center;
        margin-right: 0px;
    }
    h1 {
        text-align:center;
    }
}