body {
    background-color: #AEB4A9 !important;
}

.wrapper {
    padding: 10px;
}

.container {
    display: flex;
}

.header {
    padding: 20px;
}

h1 {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

h6 {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.left, .header {
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: black;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 500px) {

    .container {
        flex-direction:column;
    }

    .wrapper {
        padding: 0px
    }

    .header {
        justify-content: center;
        text-align:center;
    }

    .left {
        display:flex;
        width: inherit;
    }

    .left ul {
        width:inherit;
        padding-left: 12px
    }
       
    .left img {
        width: 50%;
        height: 100%
    }

}

@media screen and (max-width: 1280px) {

    h1 {
        text-align:center;
    }

    .right {
        padding-left: 100px;
    }

    .right p {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1800px) {

    h1 {
        text-align:center;
    }

    .right {
        padding-left: 100px;
    }

    .right p {
        margin-left: 0px;
    }
}