.skin {
    padding: 10px;
}

.upper_limbs {
    padding: 10px;
}

h1 {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

body {
    background-color: #AEB4A9 !important;
}

html {
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
}

.torso {
    padding: 10px;
}

.index {
    padding: 10px;
}

.footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}


.search-results {
    color: black;
    background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5px,
    #007bff 10px,
    #AEB4A9 20px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #007bff
  )
}